@mixin prices-styles {
    display: inline-block;
    position: relative;
    width: 80%;
    border-radius: 20px;
}

@mixin prices-buttons {
    font-family: "Open Sans";
    color: white;
    font-weight: bold;
    padding: 1rem 3.5rem;
    border-radius: 30px;
    outline: none;
    border: none;
    transform: translate(0, 50%);
}

@mixin benefits-style {
    display: inline-block;
    position: relative;
    width: 45%;
    list-style-type: none;
    text-align: left;
    margin-top: 0.5rem;
}