@import 'mixins';

.prices {
    text-align: center;

    &__title {
        font-family: "Raleway";
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        font-size: 2.5rem;
        font-weight: 400;
    }

    &__basic {
        @include prices-styles;
        border: 1px solid #FB3B64;

        &__price {
            display: inline-block;
            width: 40%;
            // vertical-align: top;
            transform: translate(0, -40%);

            &__h3 {
                font-family: "Raleway";
                // margin-bottom: 0.5rem;
            }

            &__h4 {
                font-family: "Open Sans";
                color: #FB3B64;
                font-weight: 300;
                font-size: 2.5rem;
            }

        }

        &__benefits {
            @include benefits-style;

            &__li {
                font-family: "Open Sans";
                font-weight: 400;
                font-size: 0.9rem;
                margin: 0.6rem;
            }
        }

        &__button {
            @include prices-buttons;
            background-color: #FB3B64;
        }
    }

    &__professional {
        @include prices-styles;
        border: 1px solid #07ACE6;
        margin: 2rem 0;

        &__price {
            display: inline-block;
            width: 40%;
            // vertical-align: top;
            transform: translate(0, -40%);

            &__h3 {
                font-family: "Raleway";
                // margin-bottom: 0.5rem;
            }

            &__h4 {
                font-family: "Open Sans";
                color: #FB3B64;
                font-weight: 300;
                font-size: 2.5rem;
            }

        }

        &__benefits {
            @include benefits-style;

            &__li {
                font-family: "Open Sans";
                font-weight: 400;
                font-size: 0.9rem;
                margin: 0.6rem;
            }
        }

        &__button {
            @include prices-buttons;
            background-color: #07ACE6;
        }
    }

    &__premium {
        @include prices-styles;
        border: 1px solid #55DFB4;

        &__price {
            display: inline-block;
            width: 40%;
            // vertical-align: top;
            transform: translate(0, -40%);

            &__h3 {
                font-family: "Raleway";
                // margin-bottom: 0.5rem;
            }

            &__h4 {
                font-family: "Open Sans";
                color: #FB3B64;
                font-weight: 300;
                font-size: 2.5rem;
            }

        }

        &__benefits {
            @include benefits-style;

            &__li {
                font-family: "Open Sans";
                font-weight: 400;
                font-size: 0.9rem;
                padding: 0.2rem;
            }
        }

        &__button {
            @include prices-buttons;
            background-color: #55DFB4;

        }
    }

    ////////////////

    // &__professional {
    //     @include prices-styles;
    //     border: 1px solid #07ACE6;

    //     &__price {
    //         display: inline-block;
    //         width: 40%;
    //         vertical-align: top;
    //         padding-top: 4rem;

    //         &__h3 {
    //             font-family: "Raleway";
    //             margin-bottom: 0.5rem;
    //         }

    //         &__h4 {
    //             font-family: "Open Sans";
    //             font-weight: 300;
    //             font-size: 2rem;
    //         }

    //     }

    //     &__benefits {
    //         display: inline-block;
    //         position: relative;
    //         width: 40%;
    //         // height: auto;
    //         list-style-type: none;


    //         &__item {
    //             margin: 1rem;
    //         }
    //     }

    //     &__btn__button {
    //         font-family: "Open Sans";
    //         background-color: #07ACE6;
    //         color: white;
    //         font-weight: bold;
    //         width: 40%;
    //         height: 3.7rem;
    //         border-radius: 30px;
    //         outline: none;
    //         border: none;
    //         display: absolute;
    //         bottom: 10px;
    //     }
    // }

    // &__premium {
    //     @include prices-styles;
    //     border: 1px solid #55DFB4;

    //     &__price {
    //         display: inline-block;
    //         width: 40%;
    //         // vertical-align: top;
    //         // padding-top: 4rem;

    //         &__h3 {
    //             font-family: "Raleway";
    //             margin-bottom: 0.5rem;
    //         }

    //         &__h4 {
    //             font-family: "Open Sans";
    //             font-weight: 300;
    //             font-size: 2rem;
    //         }

    //     }

    //     &__benefits {
    //         display: inline-block;
    //         position: relative;
    //         width: 40%;
    //         // height: auto;
    //         list-style-type: none;


    //         &__item {
    //             margin: 1rem;
    //         }
    //     }

    //     &__btn__button {
    //         font-family: "Open Sans";
    //         background-color: #55DFB4;
    //         color: white;
    //         font-weight: bold;
    //         width: 40%;
    //         height: 3.7rem;
    //         border-radius: 30px;
    //         outline: none;
    //         border: none;
    //         display: absolute;
    //         bottom: 10px;
    //     }
    // }
}