.advertisements {
    background-color: #A5A5A5;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;

    &__first {
        background-color: white;
        margin: 0 auto;
        width: 80%;
        text-align: center;
        padding-top: 2rem;

        // margin: 3rem auto;
        font-family: "Raleway";

        &__img {
            position: relative;
            display: inline-block;
            margin: 0 auto;
            // width: 60%;
            text-align: center;
            // width: 400px;

            &__macbook {
                position: relative;
                // width: 50%;
                // height: auto;

            }

            &__red-frame {
                position: absolute;
                // bottom: 1rem;
                // left: 4.5rem;
                right: -10%;
                top: -30%;
                // width: 40%;
                // height: auto;

            }
        }

        &__entries {
            font-size: 1.5rem;
            font-weight: 800;
            text-align: center;
            letter-spacing: 0.2rem;

        }

        &__dailyentries {
            font-size: 1rem;
            text-align: center;
            font-weight: 400;
            margin-top: 0.5rem;
            color: #A5A5A5;

        }
    }
}