.popular {

    &__h2 {
        font-family: "Raleway";
        font-weight: 400;
        font-size: 1.8rem;
        margin: 0 auto;
        text-align: center;
        padding: 1rem;
    }

    &__card {
        text-align: center;
        margin: 1.5rem;
        font-family: "Raleway";

        &__img {
            position: relative;
            display: inline-block;
            margin: 0 auto;

            &__ellipse1 {
                position: relative;

            }

            &__person2 {
                position: absolute;
                right: -12%;

            }

            &__ellipse2 {
                position: relative;

            }

            &__eye2 {
                position: absolute;
                right: -40%;
                top: 18%;

            }

            &__ellipse3 {
                position: relative;

            }

            &__catalog2 {
                position: absolute;
                right: -35%;
                top: 10%;

            }

        }

        &__h2 {
            font-size: 1.5rem;
            font-weight: 800;
            text-align: center;
            letter-spacing: 0.2rem;

        }

        &__h3 {
            font-size: 1rem;
            text-align: center;
            font-weight: 400;
            margin-top: 0.5rem;
            color: #A5A5A5;

        }
    }
}

@media only screen and (min-width: 1000px) {
    .popular {
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        
    }
}