.header {
  position: absolute;
  background-color: #f8f9fa;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  top: 0;
  z-index: 2;

  &__top {
    position: relative;

    &__title {
      font-family: "Raleway";
      font-weight: 300;
      color: #08A6E4;
      left: 20px;
    }

    &__menu {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: auto;
      right: 0;
      color: #08A6E4;

      &:before {
        content: '\2630';
      }

      &.show::before {
        content: '✖';
      }
    }

  }

  &__links {
    display: none;
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    list-style-type: none;

    &.show {
      display: block;
      text-align: left;

    }

    li {
      margin: 1rem 0;

      a {
        font-family: "Open Sans";
        text-decoration: none;
        font-weight: 600;
        font-size: 0.7rem;
        color: #a5a5a5;

      }
    }
  }
}

@media only screen and (min-width: 1000px) {

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__top {
      &__menu {
        display: none;
      }
    }

    &__links {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 0 0 0 5rem;

      li {
        margin: 0;
        padding-right: 5rem;
      }

      li a {
        font-family: "Open Sans";
        text-decoration: none;
        color: #a5a5a5;
        font-weight: 700;
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
        padding-bottom: 1rem;
        position: relative;

        &:hover {
          color: #000;
          text-decoration: none;

          &::after {
            content: '';
            position: absolute;
            bottom: -0.7rem;
            left: 0;
            width: 100%;
            border-bottom: 3px solid #08A6E4;
          }
        }
      }
    }
  }
}