.header {
    background-color: #f8f9fa;
    padding: 1rem;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
 
    &__title {
       font-family: "Raleway";
       font-weight: 300;
       color: #08A6E4;
       left: 20px;
    }
 
    &__menu {
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       height: auto;
       right: 20px;
    }
 
    &__links {
       display: none;
    }
 }