* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   min-width: 320px;
}

header {
   background-color: #f8f9fa;
   padding: 20px;
   position: relative;

   .logo,
   .menu {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: auto;
   }

   .logo {
      left: 20px;
   }

   .menu {
      right: 20px;
   }

   .link {
      display: none;
   }
}

.logo,
.menu {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   max-width: 150px;
   height: auto;
}

sell {}


.questions {
   display: table-cell;
   vertical-align: middle;
   text-align: center;

   .form-content {
      display: inline-block;
      display: inline-block;
      text-align: left;
   }
}