@charset "UTF-8";
.header {
  background-color: #f8f9fa;
  padding: 1rem;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.header__top {
  position: relative;
}
.header__top__title {
  font-family: "Raleway";
  font-weight: 300;
  color: #08A6E4;
  left: 20px;
}
.header__top__menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  right: 20px;
  color: #08A6E4;
}
.header__top__menu:before {
  content: "☰";
}
.header__top__menu.show::before {
  content: "✖";
}
.header__links {
  display: none;
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  list-style-type: none;
}
.header__links.show {
  display: block;
  text-align: left;
}
.header__links li {
  margin: 1rem 0;
}
.header__links li a {
  font-family: "Open Sans";
  text-decoration: none;
  font-weight: 700;
  font-size: 0.7rem;
  color: #a5a5a5;
}

@media only screen and (min-width: 1000px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__top__menu {
    display: none;
  }
  .header__links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 0 0 5rem;
  }
  .header__links li {
    margin: 0;
    padding-right: 5rem;
  }
  .header__links li a {
    font-family: "Open Sans";
    text-decoration: none;
    color: #a5a5a5;
    font-weight: 700;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
    position: relative;
  }
  .header__links li a:hover {
    color: #000;
    text-decoration: none;
  }
  .header__links li a:hover::after {
    content: "";
    position: absolute;
    bottom: -0.7rem;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #08A6E4;
  }
}
.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  position: relative;
  box-shadow: 0 -5px 10px -5px rgba(128, 128, 128, 0.5);
  width: 100%;
  margin-top: 6rem;
}
.footer__logo-rights__h2 {
  font-family: "Raleway";
  font-weight: 300;
  color: #08A6E4;
  left: 20px;
  font-size: 1.4rem;
}
.footer__logo-rights__h3 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.5rem;
  color: #A5A5A5;
}
.footer__facebook-twitter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  right: 2rem;
}
.footer__facebook-twitter .twitter-logo {
  margin-right: 1rem;
}

@media only screen and (min-width: 1000px) {
  .footer__logo-rights {
    margin-left: 4rem;
  }
  .footer__facebook-twitter {
    margin-right: 4rem;
  }
}
.sell {
  width: 60%;
  text-align: center;
  margin: 6rem auto 2rem;
}
.sell__h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.5rem;
}
.sell__p {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 1rem 0;
}
.sell__button {
  font-family: "Open Sans";
  color: white;
  font-weight: bold;
  padding: 1rem 3.5rem;
  border-radius: 30px;
  outline: none;
  border: none;
  transform: translate(0, 50%);
  background-color: #08A6E4;
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  .sell__button {
    width: 30rem;
  }
}
.foto-phone {
  display: initial;
}
.foto-phone img {
  width: 100%;
}

.foto-desk {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .foto-phone {
    display: none;
  }
  .foto-desk {
    display: initial;
  }
  .foto-desk img {
    width: 100%;
  }
}
.popular__h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}
.popular__card {
  text-align: center;
  margin: 1.5rem;
  font-family: "Raleway";
}
.popular__card__img {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}
.popular__card__img__ellipse1 {
  position: relative;
}
.popular__card__img__person2 {
  position: absolute;
  right: -12%;
}
.popular__card__img__ellipse2 {
  position: relative;
}
.popular__card__img__eye2 {
  position: absolute;
  right: -40%;
  top: 18%;
}
.popular__card__img__ellipse3 {
  position: relative;
}
.popular__card__img__catalog2 {
  position: absolute;
  right: -35%;
  top: 10%;
}
.popular__card__h2 {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2rem;
}
.popular__card__h3 {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  margin-top: 0.5rem;
  color: #A5A5A5;
}

@media only screen and (min-width: 1000px) {
  .popular {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
  }
}
.advertisements {
  background-color: #F7F7F7;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}
.advertisements__card {
  background-color: white;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding-top: 2rem;
  margin: 2rem auto;
  border-radius: 5px;
  border: 0.1rem solid #E8E9ED;
}
.advertisements__card__text__p {
  font-family: "Open Sans";
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  margin-top: 0.5rem;
  text-align: left;
  padding: 0 1rem;
  padding-bottom: 1.4rem;
}
.advertisements__card__text__h2 {
  font-family: "Raleway";
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-align: left;
  padding: 1rem 1rem;
}
.advertisements__card__text__hr-red, .advertisements__card__text__hr-blue, .advertisements__card__text__hr-green {
  display: none;
}
.advertisements__card__third__h2 {
  font-family: "Raleway";
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-align: left;
  padding: 0rem 1rem 1rem;
}
.advertisements__card__img {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
.advertisements__card__img__macbook {
  position: relative;
}
.advertisements__card__img__red-frame {
  position: absolute;
  right: -10%;
  top: -30%;
}
.advertisements__card__img__red-frame-desk {
  display: none;
}
.advertisements__card__img__ellipse4 {
  position: relative;
}
.advertisements__card__img__iPhone {
  position: absolute;
  right: -35%;
  top: 5%;
}
.advertisements__card__geen-background {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 15em;
  background-color: #55DFB4;
  border-radius: 5px;
}
.advertisements__card__geen-background__orange-trumpet {
  height: 100%;
  padding-top: 4em;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.advertisements__card__geen-background-desk {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .advertisements__card {
    display: flex;
    flex-direction: row-reverse;
  }
  .advertisements__card__second {
    flex-direction: row;
  }
  .advertisements__card__third {
    background-color: #F7F7F7;
    border: none;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
  }
  .advertisements__card__third__text {
    background-color: white;
    border: 0.1rem solid #E8E9ED;
    padding: 5rem;
  }
  .advertisements__card__text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .advertisements__card__text__hr-red {
    display: initial;
    width: 65%;
    height: 0.15rem;
    border: 0;
    margin-left: 1rem;
    background-color: #FB3B64;
  }
  .advertisements__card__text__hr-blue {
    display: initial;
    width: 65%;
    height: 0.15rem;
    border: 0;
    margin-left: 1rem;
    background-color: #08A6E4;
  }
  .advertisements__card__text__hr-green {
    display: initial;
    width: 65%;
    height: 0.15rem;
    border: 0;
    margin-left: 1rem;
    background-color: #55DFB4;
  }
  .advertisements__card__img {
    display: flex;
    align-items: center;
    padding: 3rem 0;
  }
  .advertisements__card__img__macbook {
    position: relative;
    width: 386.44px;
    height: 219px;
  }
  .advertisements__card__img__red-frame {
    display: none;
  }
  .advertisements__card__img__red-frame-desk {
    display: initial;
    position: absolute;
    right: -10%;
    top: -5%;
  }
  .advertisements__card__img__ellipse4 {
    position: relative;
    width: 320px;
    height: 320px;
  }
  .advertisements__card__img__iPhone {
    position: absolute;
    right: -35%;
    top: 17%;
    width: 426px;
    height: 328px;
  }
  .advertisements__card__geen-background {
    display: none;
  }
  .advertisements__card__geen-background-desk {
    display: initial;
    background-color: #55DFB4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
}
.prices {
  text-align: center;
}
.prices__title {
  text-align: center;
  font-family: "Raleway";
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
}
.prices__selector {
  margin: 2rem;
}
.prices--red {
  border: 1px solid #FB3B64;
  border-radius: 20px;
}
.prices--red--font {
  color: #FB3B64;
}
.prices--red--background {
  background-color: #FB3B64;
}
.prices--red--button {
  background-color: #FB3B64;
}
.prices--blue {
  border: 1px solid #07ACE6;
  margin: 2.5rem 0;
  border-radius: 20px;
}
.prices--blue--font {
  color: #07ACE6;
}
.prices--blue--background {
  background-color: #07ACE6;
}
.prices--blue--button {
  background-color: #07ACE6;
}
.prices--green {
  border: 1px solid #55DFB4;
  border-radius: 20px;
}
.prices--green--font {
  color: #55DFB4;
}
.prices--green--background {
  background-color: #55DFB4;
}
.prices--green--button {
  background-color: #55DFB4;
}
.prices__cards {
  display: inline-block;
  position: relative;
  width: 80%;
  border-radius: 20px;
}
.prices__cards__card__price {
  display: inline-block;
  width: 40%;
  transform: translate(0, -40%);
}
.prices__cards__card__price__h3 {
  font-family: "Raleway";
}
.prices__cards__card__price__h4 {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 2.5rem;
}
.prices__cards__card__benefits {
  display: inline-block;
  position: relative;
  width: 40%;
  list-style-type: none;
  text-align: left;
  margin-top: 0.5rem;
}
.prices__cards__card__benefits__li {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0.6rem;
}
.prices__cards__card__benefits__li img {
  margin-right: 0.3rem;
}
.prices__cards__card__button {
  font-family: "Open Sans";
  color: white;
  font-weight: bold;
  padding: 1rem 3.5rem;
  border-radius: 30px;
  outline: none;
  border: none;
  transform: translate(0, 50%);
}

@media only screen and (min-width: 1000px) {
  .prices {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prices__title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .prices__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .prices__cards__card {
    flex: 1;
    margin: 1rem 6rem;
    padding: 3rem 0.5rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prices__cards__card__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: none;
  }
  .prices__cards__card__benefits {
    position: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .prices__cards__card__button {
    transform: translate(0%, 150%);
  }
  .prices--red:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #FB3B64;
  }
  .prices--blue:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #07ACE6;
  }
  .prices--green:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #55DFB4;
  }
}
.questions-form {
  width: 100%;
  padding: 0 1rem;
  margin-top: 2.5rem;
}
.questions-form__h2 {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 2.5rem;
}
.questions-form__h3 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
}
.questions-form__li {
  list-style-type: none;
  font-weight: 600;
  font-family: "Open Sans";
  font-size: 0.9rem;
  color: #A5A5A5;
  padding-left: 1.5rem;
  padding-top: 1rem;
  position: relative;
  left: -0.5rem;
}
.questions-form__li img {
  position: absolute;
  left: -0.4rem;
  bottom: -0.3rem;
}
.questions-form .errorMsg {
  color: red;
  display: none;
}
.questions-form__form-content {
  margin: 3rem auto;
}
.questions-form__form-content__group {
  margin-bottom: 1rem;
}
.questions-form__form-content__group label {
  display: block;
  margin-bottom: 5px;
  color: #08A6E4;
  font-weight: 600;
  font-size: 0.7rem;
  font-family: "Open Sans";
}
.questions-form__form-content__group input {
  display: block;
  width: 100%;
  padding: 0.7rem;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}
.questions-form__form-content__checkbox {
  position: relative;
  display: block;
  margin-bottom: 15px;
}
.questions-form__form-content__checkbox__check {
  position: absolute;
  top: 1.4rem;
  left: 0;
  margin: 0;
}
.questions-form__form-content__checkbox input[type=checkbox] {
  -webkit-appearance: none;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid #707070;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}
.questions-form__form-content__checkbox input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
  transform-origin: bottom left;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.questions-form__form-content__checkbox input[type=checkbox]:checked::before {
  transform: scale(1);
  background-color: #08A6E4;
  transform-origin: bottom left;
  -webkit-clip-path: polygon(20% 50%, 12% 60%, 40% 100%, 92% 18%, 85% 10%, 40% 80%);
          clip-path: polygon(20% 50%, 12% 60%, 40% 100%, 92% 18%, 85% 10%, 40% 80%);
}
.questions-form__form-content__checkbox .checkbox__p {
  display: inline-block;
  margin: 1.3rem 0 0 1.5rem;
  overflow-x: auto;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.7rem;
  color: #707070;
}
.questions-form__form-content__checkbox .checkbox__button {
  font-family: "Open Sans";
  color: white;
  font-weight: bold;
  padding: 1rem 3.5rem;
  border-radius: 30px;
  outline: none;
  border: none;
  transform: translate(0, 50%);
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: #08A6E4;
  cursor: pointer;
}
.questions-form__form-content__checkbox .checkbox__button__button:hover {
  background-color: #08A6E4;
}

@media only screen and (min-width: 1000px) {
  .questions-form {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 20rem;
  }
  .questions-form__form-content {
    min-width: 30rem;
  }
  .questions-form__h2 {
    margin-bottom: 1rem;
  }
  .questions-form__h3 {
    margin-bottom: 1.5rem;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    margin: 0;
  }
  .contacts__text {
    display: flex;
    flex-direction: column;
  }
  .contacts__ul {
    display: flex;
    align-items: center;
    list-style: none;
    white-space: nowrap;
  }
  .contacts__ul__li {
    margin-right: 1rem;
    white-space: nowrap;
  }
  .all-form {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  position: relative;
  box-shadow: 0 -5px 10px -5px rgba(128, 128, 128, 0.5);
  width: 100%;
  margin-top: 6rem;
}
.footer__logo-rights__h2 {
  font-family: "Raleway";
  font-weight: 300;
  color: #08A6E4;
  left: 20px;
  font-size: 1.4rem;
}
.footer__logo-rights__h3 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.5rem;
  color: #A5A5A5;
}
.footer__facebook-twitter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  right: 2rem;
}
.footer__facebook-twitter .twitter-logo {
  margin-right: 1rem;
}

@media only screen and (min-width: 1000px) {
  .footer__logo-rights {
    margin-left: 4rem;
  }
  .footer__facebook-twitter {
    margin-right: 4rem;
  }
}
.progress-container {
  position: fixed;
  width: 100%;
  height: 5px;
  background: #f3f3f3;
  top: 0;
  left: 0;
  z-index: 2;
}

.progress-bar {
  height: 5px;
  background: #08A6E4;
  width: 0%;
}

.content {
  padding: 20px;
  height: 2000px;
}

.returnTop {
  padding: 1rem 1rem;
  background-color: #08A6E4;
  border-radius: 50%;
  border: 1px solid;
  position: fixed;
  bottom: 5rem;
  right: 0.5rem;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.popup__content {
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto;
  border: 2px solid #888;
  width: 80%;
  position: relative;
}
.popup__content__h2 {
  margin-top: 2rem;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 1.5rem;
}
.popup__content__close {
  color: #aaa;
  float: right;
  margin-right: 0.3rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.popup__content__close:hover,
.popup__content__close :focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.popup__content__form {
  margin-top: 2rem;
}
.popup__content__form input {
  padding: 0.7rem;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}
.popup__content__button {
  font-family: "Open Sans";
  font-weight: 600;
  margin: 2rem auto;
  padding: 0.5rem 5rem;
  border-radius: 20px;
  color: white;
  background-color: #08A6E4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=styles.css.map */