.header {
  background-color: #f8f9fa;
  padding: 1rem;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.header__title {
  font-family: "Raleway";
  font-weight: 300;
  color: #08A6E4;
  left: 20px;
}
.header__menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  right: 20px;
}
.header__links {
  display: none;
}

.sell {
  width: 60%;
  text-align: center;
  margin: 6rem auto 2rem;
}
.sell__h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.5rem;
}
.sell__p {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 1rem 0;
}
.sell__button {
  font-family: "Open Sans";
  background-color: #08A6E4;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 3.7rem;
  border-radius: 30px;
  outline: none;
  border: none;
}

.foto img {
  width: 100%;
}

.popular__h2 {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 1.8rem;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}
.popular__first {
  text-align: center;
  font-family: "Raleway";
}
.popular__first__img {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
.popular__first__img__ellipse1 {
  position: relative;
}
.popular__first__img__person2 {
  position: absolute;
  right: -12%;
}
.popular__first__entries {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2rem;
}
.popular__first__dailyentries {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  margin-top: 0.5rem;
  color: #A5A5A5;
}
.popular__where {
  text-align: center;
  margin: 3rem auto;
  font-family: "Raleway";
}
.popular__where__img {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}
.popular__where__img__ellipse2 {
  position: relative;
}
.popular__where__img__eye2 {
  position: absolute;
  right: -40%;
  top: 18%;
}
.popular__where__seen {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2rem;
}
.popular__where__seenproducts {
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 400;
  color: #A5A5A5;
}
.popular__recognition {
  text-align: center;
  font-family: "Raleway";
}
.popular__recognition__img {
  text-align: center;
  display: inline-block;
  position: relative;
}
.popular__recognition__img__ellipse3 {
  position: relative;
}
.popular__recognition__img__catalog2 {
  position: absolute;
  right: -35%;
  top: 10%;
}
.popular__recognition__posts {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2rem;
}
.popular__recognition__added {
  margin: 0.5rem auto 3rem;
  text-align: center;
  font-weight: 400;
  color: #A5A5A5;
}

.advertisements {
  background-color: #F7F7F7;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}
.advertisements__first {
  background-color: white;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding: 2rem 0;
  border-radius: 5px;
  border: 0.1rem solid #E8E9ED;
}
.advertisements__first__img {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
.advertisements__first__img__macbook {
  position: relative;
}
.advertisements__first__img__red-frame {
  position: absolute;
  right: -10%;
  top: -30%;
}
.advertisements__first__h2 {
  font-family: "Raleway";
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-align: left;
  padding: 1.5rem 1rem;
}
.advertisements__first__p {
  font-family: "Open Sans";
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  margin-top: 0.5rem;
  text-align: left;
  padding: 0 1rem;
}
.advertisements__second {
  background-color: white;
  margin: 1.5rem auto;
  width: 80%;
  text-align: center;
  padding: 2rem 0;
  border-radius: 5px;
  border: 0.1rem solid #E8E9ED;
}
.advertisements__second__img {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
.advertisements__second__img__ellipse4 {
  position: relative;
}
.advertisements__second__img__iPhone {
  position: absolute;
  right: -35%;
  top: 5%;
}
.advertisements__second__h2 {
  font-family: "Raleway";
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-align: left;
  padding-left: 1rem;
}
.advertisements__second__p {
  font-family: "Open Sans";
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  margin-top: 0.5rem;
  text-align: left;
  padding: 0 1rem;
}
.advertisements__third {
  background-color: white;
  margin: 1.5rem auto;
  width: 80%;
  text-align: center;
  padding-top: 2rem;
  border-radius: 5px;
  border: 0.1rem solid #E8E9ED;
}
.advertisements__third__h2 {
  font-family: "Raleway";
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-align: left;
  padding-left: 1rem;
}
.advertisements__third__p {
  font-family: "Open Sans";
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  margin-top: 0.5rem;
  text-align: left;
  padding: 0 1rem;
}
.advertisements__third__geen-background {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 15em;
  background-color: #55DFB4;
  border-radius: 5px;
}
.advertisements__third__geen-background__orange-trumpet {
  height: 100%;
  padding-top: 4em;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.prices {
  text-align: center;
}
.prices__title {
  font-family: "Raleway";
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
}
.prices__basic {
  display: inline-block;
  position: relative;
  width: 80%;
  border-radius: 20px;
  border: 1px solid #FB3B64;
}
.prices__basic__price {
  display: inline-block;
  width: 40%;
  transform: translate(0, -40%);
}
.prices__basic__price__h3 {
  font-family: "Raleway";
}
.prices__basic__price__h4 {
  font-family: "Open Sans";
  color: #FB3B64;
  font-weight: 300;
  font-size: 2.5rem;
}
.prices__basic__benefits {
  display: inline-block;
  position: relative;
  width: 45%;
  list-style-type: none;
  text-align: left;
  margin-top: 0.5rem;
}
.prices__basic__benefits__li {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0.6rem;
}
.prices__basic__button {
  font-family: "Open Sans";
  color: white;
  font-weight: bold;
  padding: 1rem 3.5rem;
  border-radius: 30px;
  outline: none;
  border: none;
  display: absolute;
  transform: translate(0, 50%);
  background-color: #FB3B64;
}
.prices__professional {
  display: inline-block;
  position: relative;
  width: 80%;
  border-radius: 20px;
  border: 1px solid #07ACE6;
  margin: 2rem 0;
}
.prices__professional__price {
  display: inline-block;
  width: 40%;
  transform: translate(0, -40%);
}
.prices__professional__price__h3 {
  font-family: "Raleway";
}
.prices__professional__price__h4 {
  font-family: "Open Sans";
  color: #FB3B64;
  font-weight: 300;
  font-size: 2.5rem;
}
.prices__professional__benefits {
  display: inline-block;
  position: relative;
  width: 45%;
  list-style-type: none;
  text-align: left;
  margin-top: 0.5rem;
}
.prices__professional__benefits__li {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0.6rem;
}
.prices__professional__button {
  font-family: "Open Sans";
  color: white;
  font-weight: bold;
  padding: 1rem 3.5rem;
  border-radius: 30px;
  outline: none;
  border: none;
  display: absolute;
  transform: translate(0, 50%);
  background-color: #07ACE6;
}
.prices__premium {
  display: inline-block;
  position: relative;
  width: 80%;
  border-radius: 20px;
  border: 1px solid #55DFB4;
}
.prices__premium__price {
  display: inline-block;
  width: 40%;
  transform: translate(0, -40%);
}
.prices__premium__price__h3 {
  font-family: "Raleway";
}
.prices__premium__price__h4 {
  font-family: "Open Sans";
  color: #FB3B64;
  font-weight: 300;
  font-size: 2.5rem;
}
.prices__premium__benefits {
  display: inline-block;
  position: relative;
  width: 45%;
  list-style-type: none;
  text-align: left;
  margin-top: 0.5rem;
}
.prices__premium__benefits__li {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.9rem;
  padding: 0.2rem;
}
.prices__premium__button {
  font-family: "Open Sans";
  color: white;
  font-weight: bold;
  padding: 1rem 3.5rem;
  border-radius: 30px;
  outline: none;
  border: none;
  display: absolute;
  transform: translate(0, 50%);
  background-color: #55DFB4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.questions {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.questions .form-content {
  display: inline-block;
  display: inline-block;
  text-align: left;
}/*# sourceMappingURL=styles.css.map */