.header {
  background-color: #f8f9fa;
  padding: 1rem;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.header__title {
  font-family: "Raleway";
  font-weight: 300;
  color: #08A6E4;
  left: 20px;
}
.header__menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  right: 20px;
}
.header__links {
  display: none;
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  position: relative;
  box-shadow: 0 -5px 10px -5px rgba(128, 128, 128, 0.5);
  width: 100%;
  margin-top: 6rem;
}
.footer__logo-rights__h2 {
  font-family: "Raleway";
  font-weight: 300;
  color: #08A6E4;
  left: 20px;
  font-size: 1.4rem;
}
.footer__logo-rights__h3 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.5rem;
  color: #A5A5A5;
}
.footer__facebook-twitter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  right: 2rem;
}
.footer__facebook-twitter .twitter-logo {
  margin-right: 1rem;
}

.sell {
  width: 60%;
  text-align: center;
  margin: 6rem auto 2rem;
}
.sell__h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.5rem;
}
.sell__p {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 1rem 0;
}
.sell__button {
  font-family: "Open Sans";
  background-color: #08A6E4;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 3.7rem;
  border-radius: 30px;
  outline: none;
  border: none;
}

.foto img {
  width: 100%;
}

.popular__h2 {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 1.8rem;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}
.popular__card {
  text-align: center;
  margin: 1.5rem;
  font-family: "Raleway";
}
.popular__card__img {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}
.popular__card__img__ellipse1 {
  position: relative;
}
.popular__card__img__person2 {
  position: absolute;
  right: -12%;
}
.popular__card__img__ellipse2 {
  position: relative;
}
.popular__card__img__eye2 {
  position: absolute;
  right: -40%;
  top: 18%;
}
.popular__card__img__ellipse3 {
  position: relative;
}
.popular__card__img__catalog2 {
  position: absolute;
  right: -35%;
  top: 10%;
}
.popular__card__h2 {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2rem;
}
.popular__card__h3 {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  margin-top: 0.5rem;
  color: #A5A5A5;
}

.advertisements {
  background-color: #F7F7F7;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}
.advertisements__card {
  background-color: white;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding-top: 2rem;
  margin: 2rem auto;
  border-radius: 5px;
  border: 0.1rem solid #E8E9ED;
}
.advertisements__card__p {
  font-family: "Open Sans";
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  margin-top: 0.5rem;
  text-align: left;
  padding: 0 1rem;
  padding-bottom: 1.4rem;
}
.advertisements__card__h2 {
  font-family: "Raleway";
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-align: left;
  padding: 1rem 1rem;
}
.advertisements__card__third__h2 {
  font-family: "Raleway";
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-align: left;
  padding: 0rem 1rem 1rem;
}
.advertisements__card__img {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
.advertisements__card__img__macbook {
  position: relative;
}
.advertisements__card__img__red-frame {
  position: absolute;
  right: -10%;
  top: -30%;
}
.advertisements__card__img__ellipse4 {
  position: relative;
}
.advertisements__card__img__iPhone {
  position: absolute;
  right: -35%;
  top: 5%;
}
.advertisements__card__geen-background {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 15em;
  background-color: #55DFB4;
  border-radius: 5px;
}
.advertisements__card__geen-background__orange-trumpet {
  height: 100%;
  padding-top: 4em;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.prices {
  text-align: center;
}
.prices__title {
  font-family: "Raleway";
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
}
.prices__basic {
  display: inline-block;
  position: relative;
  width: 80%;
  border-radius: 20px;
  border: 1px solid #FB3B64;
}
.prices__basic__price {
  display: inline-block;
  width: 40%;
  transform: translate(0, -40%);
}
.prices__basic__price__h3 {
  font-family: "Raleway";
}
.prices__basic__price__h4 {
  font-family: "Open Sans";
  color: #FB3B64;
  font-weight: 300;
  font-size: 2.5rem;
}
.prices__basic__benefits {
  display: inline-block;
  position: relative;
  width: 45%;
  list-style-type: none;
  text-align: left;
  margin-top: 0.5rem;
}
.prices__basic__benefits__li {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0.6rem;
}
.prices__basic__button {
  font-family: "Open Sans";
  color: white;
  font-weight: bold;
  padding: 1rem 3.5rem;
  border-radius: 30px;
  outline: none;
  border: none;
  transform: translate(0, 50%);
  background-color: #FB3B64;
}
.prices__professional {
  display: inline-block;
  position: relative;
  width: 80%;
  border-radius: 20px;
  border: 1px solid #07ACE6;
  margin: 2rem 0;
}
.prices__professional__price {
  display: inline-block;
  width: 40%;
  transform: translate(0, -40%);
}
.prices__professional__price__h3 {
  font-family: "Raleway";
}
.prices__professional__price__h4 {
  font-family: "Open Sans";
  color: #FB3B64;
  font-weight: 300;
  font-size: 2.5rem;
}
.prices__professional__benefits {
  display: inline-block;
  position: relative;
  width: 45%;
  list-style-type: none;
  text-align: left;
  margin-top: 0.5rem;
}
.prices__professional__benefits__li {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0.6rem;
}
.prices__professional__button {
  font-family: "Open Sans";
  color: white;
  font-weight: bold;
  padding: 1rem 3.5rem;
  border-radius: 30px;
  outline: none;
  border: none;
  transform: translate(0, 50%);
  background-color: #07ACE6;
}
.prices__premium {
  display: inline-block;
  position: relative;
  width: 80%;
  border-radius: 20px;
  border: 1px solid #55DFB4;
}
.prices__premium__price {
  display: inline-block;
  width: 40%;
  transform: translate(0, -40%);
}
.prices__premium__price__h3 {
  font-family: "Raleway";
}
.prices__premium__price__h4 {
  font-family: "Open Sans";
  color: #FB3B64;
  font-weight: 300;
  font-size: 2.5rem;
}
.prices__premium__benefits {
  display: inline-block;
  position: relative;
  width: 45%;
  list-style-type: none;
  text-align: left;
  margin-top: 0.5rem;
}
.prices__premium__benefits__li {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.9rem;
  padding: 0.2rem;
}
.prices__premium__button {
  font-family: "Open Sans";
  color: white;
  font-weight: bold;
  padding: 1rem 3.5rem;
  border-radius: 30px;
  outline: none;
  border: none;
  transform: translate(0, 50%);
  background-color: #55DFB4;
}

.questions-form {
  width: 100%;
  padding: 0 1rem;
  margin-top: 2.5rem;
}
.questions-form__h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.2rem;
}
.questions-form__h3 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
}
.questions-form__li {
  list-style-type: none;
  font-weight: 600;
  font-family: "Open Sans";
  font-size: 0.9rem;
  color: #A5A5A5;
  padding-left: 1.5rem;
  padding-top: 1rem;
  position: relative;
  left: -0.5rem;
}
.questions-form__li img {
  position: absolute;
  left: -0.4rem;
  bottom: -0.3rem;
}
.questions-form__form-content {
  margin: 3rem auto;
}
.questions-form__form-content__group {
  margin-bottom: 1rem;
}
.questions-form__form-content__group label {
  display: block;
  margin-bottom: 5px;
  color: #08A6E4;
  font-weight: 600;
  font-size: 0.7rem;
  font-family: "Open Sans";
}
.questions-form__form-content__group input {
  display: block;
  width: 100%;
  padding: 0.7rem;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}
.questions-form__form-content__checkbox {
  position: relative;
  display: block;
  margin-bottom: 15px;
  cursor: pointer;
}
.questions-form__form-content__checkbox__check {
  position: absolute;
  top: 1.4rem;
  left: 0;
  margin: 0;
}
.questions-form__form-content__checkbox .checkbox__p {
  display: inline-block;
  margin: 1.3rem 0 0 1.5rem;
  overflow-x: auto;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.7rem;
  color: #707070;
}
.questions-form__form-content__checkbox .checkbox__button {
  font-family: "Open Sans";
  color: white;
  font-weight: bold;
  padding: 1rem 3.5rem;
  border-radius: 30px;
  outline: none;
  border: none;
  transform: translate(0, 50%);
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: #08A6E4;
  cursor: pointer;
}
.questions-form__form-content__checkbox .checkbox__button__button:hover {
  background-color: #08A6E4;
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  position: relative;
  box-shadow: 0 -5px 10px -5px rgba(128, 128, 128, 0.5);
  width: 100%;
  margin-top: 6rem;
}
.footer__logo-rights__h2 {
  font-family: "Raleway";
  font-weight: 300;
  color: #08A6E4;
  left: 20px;
  font-size: 1.4rem;
}
.footer__logo-rights__h3 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.5rem;
  color: #A5A5A5;
}
.footer__facebook-twitter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  right: 2rem;
}
.footer__facebook-twitter .twitter-logo {
  margin-right: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=styles.css.map */